/* DEFINIMOS TEMPORALEMNTE PALETA DE COLORES, QUITAR ESTA SECCION AL FINAL */
#PALETA_DE_COLORES {
    color: #032973 #082040 #0D4373 #1462A6 #1E82D9;
  }
  
  
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-image: linear-gradient(180deg,hsl(208, 80%, 5%), hsl(208, 78%, 46%), hsl(208, 76%, 78%) );
    color: #f5f7fa
  }
  /* #region HEADER */
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    height: 90px;
    background: #082040;
  
    position: fixed;
    width: 100%;
  
    box-shadow: 0 6px 8px rgba(0,0,0, 0.10);
    z-index: 4;
  }
  
  #logo,
  #contacto {
    height: 75px;
    width: 75px;
  
    display: flex;
    margin: 100px;
  }
  
  #logo,
  #contacto > img {
    width: auto;
    padding: 1px;
  }
  
  nav {
    display: flex;
    align-items: center;
    height: 55px;
    font-size: 1.25rem;
  }
  
  nav ul {
    list-style: none;
  
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    padding: 1rem 2rem;
  }
  
  nav a {
    text-decoration: none;
    color: #f5f7fa;
    font-weight: 600;
  }
  
  nav li:hover,
  #contacto:hover {
    background-color: #1E82D9;
    border-radius: 8px;
  }
  /* #endregion */

  /* #region RANKING */

  .wrapper{
	width: 100%;
	height: 100%;
}
/* Referecia https://www.youtube.com/watch?v=QSeInuHK5sg&ab_channel=CodingMarket*/
.lboard_section{
	width: 500px;
	height: 400px;
	margin: 100px auto 0;
	background: hsl(232, 95%, 5%);
	padding: 25px 40px;
	position: relative;
	border-radius: 5px;
}

.lboard_section .lboard_tabs ul{
	display: flex;
}

.lboard_section .lboard_tabs ul li{
	margin-right: 50px;
	font-size: 18px;
	font-weight: 600;
	color: #f5f7fa;
	cursor: pointer;
}

.lboard_section .lboard_tabs ul li:hover,
.lboard_section .lboard_tabs ul li.active{
	color: #fff;
}

.lboard_wrap{
	position: absolute;
	top: 70px;
	left: 40px;
	background: hsl(208, 78%, 16%);
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.lboard_wrap .lboard_item{
	padding: 25px;
}

.lboard_wrap .lboard_mem{
	display: flex;
	align-items: center;
	padding: 15px 0;
	border-bottom: 1px solid #f5f7fa;
}

.lboard_wrap .lboard_mem:first-child{
	padding-top: 0;
}

.lboard_wrap .lboard_mem:last-child{
	padding-bottom: 0;
	border-bottom: 0;
}

.lboard_wrap .lboard_mem .img{
	width: 50px;
}

.lboard_wrap .lboard_mem img{
	display: block;
	width: 100%;
}

.lboard_wrap .lboard_mem .name_bar{
	margin: 0 20px;
	width: calc(100% - 150px);
}

.lboard_wrap .lboard_mem .name_bar p{
	color: #f5f7fa;
}

.lboard_wrap .lboard_mem .name_bar p span{
	margin-right: 5px;
}

.lboard_wrap .lboard_mem .points{
	width: 100px;
	color: #f5f7fa;
}

.lboard_wrap .lboard_mem .name_bar .bar_wrap{
	width: 100%;
	height: 5px;
	background: #34495e;
	margin-top: 5px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.lboard_wrap .lboard_mem .name_bar .bar_wrap .inner_bar{
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	background: #fff;
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
/* #endregion */

/* #region Comentarios */
.comentarios-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.caja{
  background: #f5f7fa;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  position: relative;
  border: .1rem solid rgba(0,0,0, 0.2);
  box-shadow: 0.5rem 1rem rgba(0,0,0, 0.1);
  flex: 1 1 30rem;
  border-radius: .5rem;
}

.fa-gamepad{
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 4rem;
  color: #1E82D9;
  opacity: .3;
}

.usuario img{
  border-radius: 50%;
  object-fit: cover;
  height:8rem;
  width: 8rem;
  margin-top: 2rem;
}

.usuario h3{
  color: #010626;
  font-size: 2rem;
}

.heart i{
  color: #1E82D9;
  font-size: 1.5rem;
  padding: 1rem 0;

}

.comentarios{
  color: #010626;
  font-size: 1.5rem;
  padding: 1rem;
}
/* #endregion */

/* #region Evento */
.evento-container{
  width: 90%;
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tabla{
  width: 33%;
  height: 550px;
  margin: auto;
  border: 1px solid #010626;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px #010626;
  padding: 60px;
  text-align: center;
  flex-grow: 1;
  color: #082040;
}

.tabla:hover{
  background: #010626;
  color: #f5f7fa;
  transition: 1s all;
  transform: scale(1.1);
  cursor: pointer;
}

.tabla>h2{
  font-size: 30px;
  margin-bottom: 35px;
}

.tabla img{
  width:100px;
  margin-bottom: 35px;
}

.tabla > h3{
  font-size: 30px;
  margin-bottom: 20px;
}

.tabla > p {
  display: block;
  margin-bottom: 20px;
}

.boton{
  display: inline-block;
  width: 150px;
  padding: 12px;
  background: #032973;
  text-decoration: none;
  color: #f5f7fa;
  border-radius: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin: auto;
}

/* #endregion */

/* #region VIDEO */
.video-container{
    display: flex;
 }

 .youtube{
  position: relative;
  padding: 20px;
  margin: 20px;
  background-color: #f5f7fa;
  box-shadow: 10px 10px rgba(0,0,0, 0.1);
  border-radius: 3px;
  text-align: center;
  overflow: hidden;
 }

.youtube iframe{
  width: 100%;
  border-radius: 3px;
}

.youtube h3{
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.youtube p{
  margin-bottom: 10px;
  color: #34495e;
}
/* #endregion */

/* #region SECTION GENERAL */
  section {
    scroll-margin-bottom:  90px;
    padding: 45px 90px;
    border: 1px dashed #34495e;
  }
  
  section > h1{
    
    text-transform: uppercase;
    font-size: 2rem;
    border-bottom: 5px solid #010626;
    margin-bottom: 2rem;
    color: #010626;
  }

 
  main{
    padding-top: 90px;
  }


  section#home{
    padding: 45px 90px;
    scroll-margin-top: 90px;
  }
/* #endregion */

/* #region HOME */
#home {
    display: flex;
    flex-direction:column ;
    justify-content:flex-end;
    align-items: center;
  
    background: url("../img/Black\ Modern\ Gaming\ Channel\ Banner\ Landscape.jpg") no-repeat center center fixed;
    background-size: cover;
    text-transform: uppercase;
    color: white;
    
    height: 100vh;
  }
  
  .home_banner{
    margin-top: 90px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    background-color: #010626;
    padding: 3rem;
    opacity: 0.6;
  }
  
  /* #endregion */

  /* #region FOOTER */  
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #082040;
    color: #f5f7fa;
    text-align: center;
    padding: 6rem 3rem;
  }
  
form{
  display: flex;
  flex-direction: column;
}

  .contacto-container {
    width: 600px;
    max-width: 100%;
  }

  .contacto-container h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  input, textarea{
    margin-bottom: 1rem;
    padding: 8px;
    border: 1px solid #082040;
    border-radius: 3px;
  }

  .redes-sociales-container{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 3rem 2rem;
  }
 
  .fa-brands{
    font-size: 2rem;
    color: #010626;
  }

  .fa-brands:hover{
    color: #0D4373;
  }

  .fa-brands:active{
    color: #1E82D9;
  }

  button.btn{
    cursor: pointer;
    background-color: #010626;
    color: #f5f7fa;
    font-size: 1.25rem;
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    border: none;
    border-radius: 21px;
    transition: color 0.5s;
  }

  button.btn:hover{
    background-color: #1462A6;
  }
/* #endregion */

/* #region BTN ARRIBA */

  #btn-ir-arriba {
    cursor: pointer;
    display: none;
  
    position: fixed;
    bottom: 20px;
    right: 20px;
  
    background: #1462A6;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: none;
  
    box-shadow: 0px 12px 7px rgba(0,0,0,.1);
    transition: 300ms ease;
  
  }
  
  #btn-ir-arriba:hover{
    background: hsl(210, 29%, 60%);
    transform: translateY(-0.5rem);
  }
  
  #btn-ir-arriba svg {
    stroke: white;
    stroke-width: 3px;
    width: 25px;
    fill: none;
  }
/* #endregion */

/* #region RESPONSIVE */

@media screen and (max-width: 1440px) {

  body {
    font-size: 14px;
  }

  section {
    padding: 40px 70px;
  }

  .lboard_section{
    padding: 20px 30px;
    gap: 45px;
  }

  .tabla{
    width: 45%;
    max-width: none;
    margin-bottom: 40px;
    flex-grow: initial;
  }

  .video-container{
    padding: 0;
    gap: 45px;
  }
}

@media screen and (max-width: 1024px) {

  body {
    font-size: 13px;
  }

  section {
    padding: 40px 50px;
  }

  .wrapper{
    width: 90%;
    height: 90%;
  }

  .tabla{
    width: 45%;
    padding: 30px;
  }
  .tabla > h2{
    margin-top: 40px;
  }

  .video-container{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 45px;
  }
}


@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }

  section {
    padding: 40px 45px;
  }

  .wrapper{
    width: 50%;
    height: 50%;
  }


  .tabla{
    width: 85%;
    padding: 20px;
  }

  .video-container{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 45px;
  }
}

/* #endregion */